In [83]:
import pandas as pd
from feature_engine.creation import CyclicalFeatures
from feature_engine.datetime import DatetimeFeatures
from feature_engine.imputation import DropMissingData
from feature_engine.selection  import DropFeatures

from feature_engine.timeseries.forecasting import LagFeatures, WindowFeatures

In [84]:
data = pd.read_csv(
    'dataset/AirQualityUCI_ready.csv', 
    sep=',', usecols=['Date_Time', 'CO_sensor','RH'])

In [85]:
data['Date_Time'] = pd.to_datetime(data['Date_Time'])

In [86]:
data.index.dtype

dtype('int64')

In [87]:
data.head(2)

            Date_Time  CO_sensor    RH
0 2004-10-03 18:00:00     1360.0  48.9
1 2004-10-03 19:00:00     1292.0  47.7

In [89]:
data.set_index('Date_Time', inplace=True)

In [90]:
data.sort_index(inplace=True)

Entendendo cada classe

In [91]:
data = DatetimeFeatures(variables='index').fit_transform(data)

In [92]:
data.head(2)

                     CO_sensor    RH  month  ...  hour  minute  second
Date_Time                                    ...
2004-01-04 00:00:00     1143.0  61.6      1  ...     0       0       0
2004-01-04 01:00:00     1044.0  63.9      1  ...     1       0       0

[2 rows x 9 columns]

> Faz separa as colunas

In [93]:
data['hour'].describe()

count    9357.000000
mean       11.498557
std         6.923182
min         0.000000
25%         5.000000
50%        11.000000
75%        18.000000
max        23.000000
Name: hour, dtype: float64

In [95]:
LagFeatures(
    variables=['CO_sensor','RH'],
    freq     =['1H','24H'],
    missing_values='ignore'
).fit_transform(data)

/home/mateus/Documentos/venvGlobal/lib64/python3.11/site-packages/feature_engine/timeseries/forecasting/lag_features.py:199: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  tmp = X[self.variables_].shift(
/home/mateus/Documentos/venvGlobal/lib64/python3.11/site-packages/feature_engine/timeseries/forecasting/lag_features.py:199: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  tmp = X[self.variables_].shift(

                     CO_sensor    RH  ...  CO_sensor_lag_24H  RH_lag_24H
Date_Time                             ...
2004-01-04 00:00:00     1143.0  61.6  ...                NaN         NaN
2004-01-04 01:00:00     1044.0  63.9  ...                NaN         NaN
2004-01-04 02:00:00     1034.0  67.2  ...                NaN         NaN
2004-01-04 03:00:00      956.0  73.1  ...                NaN         NaN
2004-01-04 04:00:00      909.0  66.6  ...                NaN         NaN
...                        ...   ...  ...                ...         ...
2005-12-03 19:00:00     1177.0  47.8  ...             1766.0        55.1
2005-12-03 20:00:00     1383.0  51.4  ...             1846.0        55.4
2005-12-03 21:00:00     1363.0  56.1  ...             1795.0        56.9
2005-12-03 22:00:00     1087.0  54.7  ...             1755.0        60.0
2005-12-03 23:00:00     1028.0  53.3  ...             1738.0        59.9

[9357 rows x 13 columns]